.column {
  float: left;
  padding 15px;
  
}
.column.side{
 width: 25%;
  
}

.column.middle{
 width: 50%;
 
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
