.column {
  float: left;
  width: 33.33%;
  padding 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
  }
}
